h2{
    margin-left: 60px;
}

.rowsList{
    padding: 0 60px;
    overflow-x: hidden;
    position: relative;
}

.rowsList:hover .divLeftArrow img, .rowsList:hover .divRighttArrow img{
    display: block;
}

.rowsIntList{
    padding: 60px 0;
    transition: .5s;
}


.divImg{
    display: inline-block;
    width: 297px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
    /* border: 1px solid #fff; */
    height: 200px;
    transition: .3s;
    transition-delay: initial;
}

.divImg:not(:last-child){
    margin-right: 5px;
}

.divImg:hover{
    transform: scale(1.3);
    transition-delay: 1s;
    transition: 0;
    z-index: 5;
}

.divImg img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.divLeftArrow, .divRighttArrow{
    position: absolute;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    background: rgba(20,20,20,.5);
    width: 50px;
    top: 50%;
    transform: translate(0, -52%);
    cursor: pointer;
}

.divLeftArrow{
    left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.divRighttArrow {
    right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.divLeftArrow img, .divRighttArrow img{
    width: 13px;
    height: 28px;
    transition: .3s;
    display: none;
}

.divLeftArrow:hover img, .divRighttArrow:hover img{
    transform: scale(1.5);
}