

.login-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.login-page .login-page-content {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

.login-page .login-component {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 60px 68px 40px 68px;
    width: 450px;
    z-index: 5;
    margin-top: 4rem;
    color: white;
}

.login-page .login-component .transparent-background {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
    background-color: rgba(0,0,0,.75);
    /* opacity: 0.8; */
    z-index: -1;
}

.login-page .login-component .title {
    width: 100%;
    margin-bottom: 0 !important;
}

.login-page .login-component .title h1 {
    font-size: 32px;
    margin-bottom: 28px;
}

.login-page .login-component .form-user-messages-wrapper {
    background-color: rgb(255, 120, 120);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
}


.login-page .login-component .form-user-messages-wrapper .close-form-user-messages {
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 0.3rem;
    padding-bottom: 0.08rem;
}
.login-page .login-component .form-user-messages-wrapper .close-form-user-messages:hover {
    background-color: #333333;
}



.login-page .login-component form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}


.login-page .login-component form > * {
    width: 100%;
    border-radius: 4px;
    padding: 16px 20px;
    outline: none;
    border: none;
    margin-bottom: 16px;
    font-size: .6rem;
    border: none;
    height: 50px;
}

.login-page .login-component form input {
    background-color: #333;
}

.login-page .login-component form input:focus {
    background-color: white;
}

.login-page .login-component form button {
    cursor: pointer;
    background-color: rgb(229, 9, 19);
    color: white;
    margin: 24px 0 40px 0;
    font-weight: 700;
    font-size: 16px;
}

.login-page .login-component .new-register {
    width: 100%;
}

.login-page .login-component .new-register h5 {
    color: #a5a5a5;
    font-weight: normal;
    font-size: .58rem;
}

.login-page .login-component .new-register h5 a {
    color: white;
    text-decoration: none;
}

.login-page .login-component .new-register h5 a:hover {
    text-decoration: underline;
}

.logo{
    position: absolute;
    left: 60px;
    top: 20px;
    z-index: 10;
    width: 167px;
}

.over-login{
    background-image: url("../../img/bg-login.jpg");
    position: absolute;
    height: 100vh;
    width: 100vw;
    opacity: .7;
}