/* html,
body,
#root,
#root>div {
    width: 100vw;
    height: 100vh;
    margin: 0;
} */

h1{
    font-size: 32px;
    margin-bottom: 18px;
}

.background-cadastro {
    /* background-image: url('../../img/bg-login.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
}

.container {
    background-color: rgba(0,0,0,.75);
    width: 450px;
    height: max-content;
    /* margin: auto; */
    margin-inline: auto;
    z-index: 1000;
    border-radius: 0.3rem;
    margin-top: 4.4rem;
}

.form {
    padding: 58px 68px 40px 68px;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
}

.inputText {
    width: 100%;
    padding: 16px 20px;
    border-radius: 4px;
    resize: vertical;
    margin: 10px 0 10px 0;
    font-size: 14px;
    height: 50px;
    border: none;
    font-size: .6rem;
}

.inputText,
.inputText:focus,
.inputText {
    border: none;
    background-color: #333;
    color: rgb(195, 195, 195);
}

.button {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    border: none;
    background-color:rgb(229, 9, 19);
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    margin: 28px 0 40px 0;
}

.link,
.link:hover,
.link:visited {
    color: #a5a5a5;
    text-decoration: none;
    font-size: .58rem;
}

.link span{
    color: #fff;
}

.link span:hover{
    text-decoration: underline;
}

.inputError {
    border-bottom: 3px solid #ff9600;
}
.mensageError{
    color: #ff9600;
    font-size: 12px;
    font-weight: bold;
}

