/* html,
body,
#root,
#root>div {
    width: 100vw;
    height: 100vh;
    margin: 0;
} */

.background-cadastro {
    background-image: url('../../img/bg-login.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
}

.container {
    background-color: rgb(0, 0, 0, 0.7);
    width: 450px;
    height: auto;
    margin: auto;
}

.form {
    padding: 50px;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
}

.inputText {
    width: 100%;
    padding: 20px;
    border-radius: 4px;
    resize: vertical;
    margin: 10px 0 10px 0;
    margin: 10px 0 10px 0;
    font-size: 14px;
}

.inputText,
.inputText:focus,
.inputText {
    border: none;
    background-color: rgb(60, 60, 60);
    color: rgb(195, 195, 195);
}

.button {
    color: rgb(255, 255, 255);
    font-size: 20px;
    border: none;
    background-color: rgb(255, 0, 0);
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    margin-top: 30px;
}

.title {
    margin-bottom: 30px;
}

.link,
.link:hover,
.link:visited {
    margin-top: 20px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

.inputError {
    border-bottom: 3px solid #ff9600;
}
.mensageError{
    color: #ff9600;
    font-size: 12px;
    font-weight: bold;
}

